.color-fundo{
    background:#19191a;
    position: sticky;
    height: 60vh;
}

.color-texts {
    color: #53c38d;
}

.fundoHome {
    background-image: url(../../assets/imagens/navbarImg/banner.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position:center;
    background-blend-mode: darken;
}

/* Ajustes de responsividade */
@media (max-width: 1024px) {
    .fundoHome {
      justify-content: center;
    }
  
    .container {
      text-align: center;
    }
  
    .ml-96 {
      margin-left: 0; /* Remove margem à esquerda em telas menores */
    }
  
    .mt-28 {
      margin-top: 16px; /* Reduzir margem superior em tablets */
    }
  
    .bg-#53c38d {
      margin-left: 50px;
      margin-right: 50px; /* Ajustar as margens laterais */
    }
  
    .bg-white {
      margin-left: 50px;
      margin-right: 50px; /* Ajustar as margens laterais */
    }
  }
  
  @media (max-width: 768px) {
    .ml-96 {
      margin-left: 0; /* Remove margem à esquerda em telas menores */
    }
  
    .mt-28 {
      margin-top: 12px; /* Ajusta a margem superior em dispositivos móveis */
    }
  
    .bg-#53c38d {
      margin-left: 20px;
      margin-right: 20px; /* Margens menores em telas pequenas */
    }
  
    .bg-white {
      margin-left: 20px;
      margin-right: 20px; /* Margens menores em telas pequenas */
    }
  
    .text-xl {
      font-size: 1rem; /* Reduzir o tamanho do texto em telas pequenas */
    }
  
    .py-4 {
      padding-top: 1rem;
      padding-bottom: 1rem; /* Ajuste de padding vertical */
    }
  }